#!/usr/bin/env zsh

# Brewfile hash: {{ include "dot_config/homebrew/Brewfile" | sha256sum }}

if (( $+commands[brew] )); then
  echo "Installing libraries and applications with homebrew"
  brew bundle check --global || brew bundle install --global || true
fi
