gui:
  returnImmediately: true
customCommands:
  containers:
    - name: sh
      attach: true
      command: "docker exec -it {{ .Container.ID }} /bin/sh"
    - name: bash
      attach: true
      command: "docker exec -it {{ .Container.ID }} /bin/bash"
    - name: mise
      attach: true
      command: 'docker exec -it {{ .Container.ID }} /bin/bash -c "mise en -s /bin/bash"'
